<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.QingMai.dao.ProductMapper">
    <resultMap id="BaseResultMap" type="com.QingMai.pojo.Product">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="subtitle" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="main_image" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="sub_images" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="detail" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="disprice" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="apply" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="advertise_image" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="advertise" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="stock" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="sell_number" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, subtitle, main_image, sub_images, detail, price,disprice, stock, type,apply,advertise_image,advertise, sell_number,
    status, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from qingmai_product
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qingmai_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.QingMai.pojo.Product">
    insert into qingmai_product (id, name, subtitle, 
      main_image, sub_images, detail, 
      price,disprice, type, apply,advertise_image,advertise,stock,
      sell_number, status, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{subtitle,jdbcType=VARCHAR}, 
      #{mainImage,jdbcType=VARCHAR}, #{subImages,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL},#{disprice,jdbcType=DECIMAL}, #{type,jdbcType=INTEGER},#{apply,jdbcType=INTEGER},#{advertiseImage,jdbcType=VARCHAR}, #{advertise,jdbcType=INTEGER},  #{stock,jdbcType=INTEGER},
      #{sellNumber,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, now(),
      now())
  </insert>
    <insert id="insertSelective" parameterType="com.QingMai.pojo.Product">
        insert into qingmai_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="subtitle != null">
                subtitle,
            </if>
            <if test="mainImage != null">
                main_image,
            </if>
            <if test="subImages != null">
                sub_images,
            </if>
            <if test="detail != null">
                detail,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="disprice != null">
                disprice,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="apply != null">
                apply,
            </if>
            <if test="advertiseImage != null">
                advertise_image,
            </if>
            <if test="advertise != null">
                advertise,
            </if>
            <if test="stock != null">
                stock,
            </if>
            <if test="sellNumber != null">
                sell_number,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="subtitle != null">
                #{subtitle,jdbcType=VARCHAR},
            </if>
            <if test="mainImage != null">
                #{mainImage,jdbcType=VARCHAR},
            </if>
            <if test="subImages != null">
                #{subImages,jdbcType=VARCHAR},
            </if>
            <if test="detail != null">
                #{detail,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="disprice != null">
                #{disprice,jdbcType=DECIMAL},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="apply != null">
                #{apply,jdbcType=INTEGER},
            </if>
            <if test="advertiseImage != null">
                #{advertiseImage,jdbcType=VARCHAR},
            </if>
            <if test="advertise != null">
                #{advertise,jdbcType=INTEGER},
            </if>
            <if test="stock != null">
                #{stock,jdbcType=INTEGER},
            </if>
            <if test="sellNumber != null">
                #{sellNumber,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                now(),
            </if>
            <if test="updateTime != null">
                now(),
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.QingMai.pojo.Product">
        update qingmai_product
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="subtitle != null">
                subtitle = #{subtitle,jdbcType=VARCHAR},
            </if>
            <if test="mainImage != null">
                main_image = #{mainImage,jdbcType=VARCHAR},
            </if>
            <if test="subImages != null">
                sub_images = #{subImages,jdbcType=VARCHAR},
            </if>
            <if test="detail != null">
                detail = #{detail,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="disprice != null">
                disprice = #{disprice,jdbcType=DECIMAL},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="apply != null">
                apply = #{apply,jdbcType=INTEGER},
            </if>
            <if test="advertiseImage != null">
                advertise_image = #{advertiseImage,jdbcType=VARCHAR},
            </if>
            <if test="advertise != null">
                advertise = #{advertise,jdbcType=INTEGER},
            </if>
            <if test="stock != null">
                stock = #{stock,jdbcType=INTEGER},
            </if>
            <if test="sellNumber != null">
                sell_number = #{sellNumber,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = now(),
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.QingMai.pojo.Product">
    update qingmai_product
    set name = #{name,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      main_image = #{mainImage,jdbcType=VARCHAR},
      sub_images = #{subImages,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      disprice = #{disprice,jdbcType=DECIMAL},
      type = #{type,jdbcType=INTEGER},
      apply = #{apply,jdbcType=INTEGER},
      advertise_image = #{advertiseImage,jdbcType=VARCHAR},
      advertise = #{advertise,jdbcType=INTEGER},
      stock = #{stock,jdbcType=INTEGER},
      sell_number = #{sellNumber,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectList" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        from qingmai_product
        <where>
            <if test="type != null">
                 type = #{type}
            </if>
            and status = 1
        </where>
        order by create_time desc
    </select>

    <select id="selectByNameAndProductId" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        from qingmai_product
        <where>
            <if test="productName != null">
                and name like #{productName}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
    </select>


    <select id="selectSpecial" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from qingmai_product
        where apply is not NULL
    </select>

    <update id="batchUpdate" parameterType="list">
        update qingmai_product
        set
        apply = null,
        update_time = now()
        where
        <foreach collection="productList" index="index" item="item" separator=",">
            id = #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>

    <select id="selectThree" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        from qingmai_product
        <where>
            <if test="type != null">
                 type = #{type}
            </if>
            and status = 1
        </where>
        order by create_time desc limit 0,3
    </select>

    <select id="selectAdvertise" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        from qingmai_product
        <where>
            <if test="type != null">
                type = #{type}
            </if>
            and advertise = 1
        </where>
        order by update_time desc
    </select>

</mapper>