<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.QingMai.dao.RelationMapper">
    <resultMap id="BaseResultMap" type="com.QingMai.pojo.Relation">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="customer_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="manager_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="code" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, customer_id, manager_id,code, create_time, update_time
  </sql>

    <insert id="insert" parameterType="com.QingMai.pojo.Relation">
    insert into qingmai_relation (id, customer_id, manager_id,code,
    create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{managerId,jdbcType=INTEGER},#{code,jdbcType=VARCHAR},
    now(), now())
  </insert>

    <select id="selectByCustomerId" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        from qingmai_relation
        where customer_id = #{customerId}
    </select>

    <update id="updateManager_id" parameterType="map" >
        update qingmai_relation
        <set>
            manager_id = #{toManagerId}
        </set>
        where manager_id = #{fromManagerId}
    </update>
</mapper>