@charset "utf-8";
/****
project_name:商城
project_date: 2018年3月21日
developer:wanzhongwen
contanct_message: 401034680@qq.com
=========================================================================
**/
@font-face {
	font-family: PingFang;
	src: url('../font/PingFang Regular.ttf');
}
body {
	font-family: PingFang,"Microsoft Yahei UI", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,SimHei, "\5B8B\4F53", simsun, sans-serif;
	background:#f6f6f6;
	width:100%;
	height:100%;
	position:relative;
}
.wrapper{
	position:relative;
	background:#fff;
}
.appointment_title{
	width:100%;
	height:1.2rem;
	line-height:1.2rem;
	background:#ffffff;
	border-bottom:0.1333rem solid #f6f6f6;
	font-size:0.373rem;
	color:#333;
}
.appointment_title span{
	display:inline-block;
	float:left;
	width:0.666rem;
	height:0.666rem;
	background:url(../images/order/appointment_title.png) no-repeat;
	background-size:100% 100%;
	vertical-align:middle;
	margin:0.26rem 0.16rem 0 0.4rem;
}
.address_add{
	width:100%;
}
.address_add ul{
	width:100%;
	height:100%;
}
.address_add ul li{
	height:2.76rem;
	line-height:1.06rem;
	border-bottom:1px solid #f6f6f6;
	position:relative;
}
.address_add ul li label{
	display:inline-block;
	width:2rem;
	font-size:0.373rem;
	color:#333;
	margin:0 0 0 0.4rem;
}
.address_add ul li input[type="text"]{
	width:4.53rem;
	height:1.06rem;
	line-height:1.06rem;
	font-size:0.373rem;
	color:#ccc;
}
.address_add ul li span.send_valite,.address_add ul li span.send{
	display:inline-block;
	width:2rem;
	height:0.666rem;
	background:url(../images/order/valiate_number.png) no-repeat;
	background-size:100% 100%;
	text-indent:-9999rem;
	vertical-align:-0.2rem;
}
.address_add ul li select{
	width:4.53rem;
	height:1.06rem;
	line-height:1.06rem;
	font-size:0.373rem;
	color:#ccc;
}
.address_add ul li input.address_text{
	width:7rem;
}
.address_add ul li.appointment_date:after,.address_add ul li.service_category:after{
	display:block;
	content:"";
	background:url(../images/order/arrow.png) no-repeat;
	background-size:100% 100%;
	width:0.4rem;
	height:0.213rem;
	position:absolute;
	top:0.4rem;
	right:0.74rem;
}
.address_add ul li.appointment_datetime:after{
	display:block;
	content:"";
	background:url(../images/order/arrow.png) no-repeat;
	background-size:100% 100%;
	transform:rotate(-180deg);
	-ms-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	width:0.4rem;
	height:0.213rem;
	position:absolute;
	top:0.4rem;
	right:0.74rem;
}
.address_add ul li.appointment_date input,.address_add ul li.service_category select,.address_add ul li input.appointment_hour{
	width:7.1rem;
}
.address_add ul li span.on{
	display:inline-block;
	width:2rem;
	height:0.666rem;
	line-height:0.666rem;
	background:#00a4ff ;
	font-size:0.32rem;
	color:#fff;
	text-align:center;
	border-radius:3px;
}
.address_add ul li.service_category{
	border-top:0.666rem solid #f6f6f6;
	border-bottom:0.3rem solid #f6f6f6;
}
.address_add ul li.appointment_date{
	border-top:0.3rem solid #f6f6f6;
}
.address_add ul li.upload{
	border-bottom:0.3rem solid #f6f6f6;
}
.address_add ul li.appointment_datetime{
	border-bottom:4px  solid #f6f6f6;
}
.address_add ul li  .photo_area{
	background:#eee;
	border-radius:10px;
	margin:0.4rem 0 0 0.53rem;
}
.address_add ul li a{
	display:inline-block;
	/*float:left;
	width:2rem;
	height:2rem;*/
}
/*.address_add ul li .photo_area img{
	display:block;
	width:1rem;
	height:0.8666rem;
	margin:0.573rem auto;
}*/
.address_add ul li .imgLoad{
    display: block;
    float: left;
    width: 2.8rem;
    height: 2rem;
    margin: 0.2rem 0 0 0.356rem;
}
.address_add ul li .photo_add{
	display:inline-block;
	float:left;
	width:2rem;
	height:2rem;
	background:url(../images/order/add_photo.png) no-repeat transparent;
	background-size:100% 100%;
	margin:0.4rem 0 0 0.26rem;
}
.submit_btn,.appointment_btn{
	display:block;
	width:100%;
	height:2rem;
	line-height:2rem;
	background:#00a4ff;
	color:#fff;
	text-align:center;
	border-radius:5px;
	margin:0.2rem 0 0 1.333rem;
}
.appointment_btn{
	margin:0.6rem 0 0 1.333rem;
}
.address_add ul li input.red{
	color:red;
}
@media (min-width: 320px) and (max-width:340px) {
	html {
		font-size: 32px;
	}
}
@media (min-width: 360px) {
	html {
		font-size: 36px;
	}
}
@media (min-width: 375px) {
	html {
		font-size: 37.5px;
	}
}
@media (min-width: 384px) {
	html {
		font-size: 38.5px;
	}
}
@media (min-width: 414px) {
	html {
		font-size: 41.4px;
	}
}
@media (min-width: 448px) {
	html {
		font-size: 44.8px;
	}
}
@media (min-width: 480px) {
	html {
		font-size: 48px;
	}
}
@media (min-width: 512px) {
	html {
		font-size: 51.2px;
	}
}
@media (min-width: 544px) {
	html {
		font-size: 54.4px;
	}
}
@media (min-width: 576px) {
	html {
		font-size: 57.6px;
	}
}
@media (min-width: 608px) {
	html {
		font-size: 60.8px;
	}
}
@media (min-width: 640px) {
	html {
		font-size: 64px;
	}
}
@media (min-width: 750px) {
	html {
		font-size: 75px;
	}
}
@media (min-width: 800px) {
	html {
		font-size: 80px;
	}
}
@media (min-width: 1024px) {
	html {
		font-size: 102.4px;
	}
}