.webuploader-container {
	position: relative;

}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
#filePicker2 .webuploader-pick{
	height:100%;
}
.webuploader-pick {
	background-image:url('shangchuan.png'); 
	background-repeat:no-repeat; 
	height: 100px;
	background-position:50%;
	background-size: 100px;
	/*position: relative;
	display: inline-block;
	cursor: pointer;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;*/
}
.webuploader-pick-hover {
	/*background: #00a2d4;*/
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

